/*
***
** =============================   WEB ================
**  先隐藏 */

.web {
  display: none;
}

/* 顶部欢迎条 */
.welcomeBar {
  height: 30px;
  background-color: #f5f5f5;
  line-height: 29px;
  border-bottom: 1px solid #e7e7e7;
}

.welcomeTitle,
.tipsAndInfo {
  height: 100%;
}

.welcomeTitle {
  text-align: left;
}

.tipsAndInfo {
  text-align: right;
}

.welcomeTitle>span {
  font-size: 10px;
}

.welcomeTitle strong {
  font-size: 10px;
  font-weight: 700;
  color: #ff6642;
}

.tipsAndInfo>span {
  font-size: 10px;
  margin-right: 10px;
  color: #666;
  padding: 0 5px;
}

.login,
.register {
  border-right: 1px solid #ccc;
}

.tipsAndInfo>select {
  font-size: 10px;
  padding: 2px 20px 3px 5px;
  border-color: #eee;
}

.tipsAndInfo>select:checked {
  color: #333;
}

.logAndSearch {
  padding-top: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

/* logo */
.logo {
  cursor: pointer;
  height: 90px;
}

.logo a {
  display: inline-block;
  width: 178px;
  height: 80px;
}

.logo h1 {
  display: inline-block;
  text-indent: -999999px;
}


/* 搜索框 */
.search-container {
  padding-top: 10px;
  position: relative;
  font-size: 0;
}

.search-container>.search {
  border: 1px solid #ccc;
  height: 35px;
  padding: 10px 8px;
  border-right: none;
  width: 300px;
}

.search-container>.search-button {
  height: 35px;
  background-color: #ff6642;
  color: #fff;
  padding: 8px;

}

.search-button>span {
  font-size: 12px;
  padding-left: 5px;
}

.search-button>i {
  font-size: 12px;
  color: #FFAA96;
}

.search-tips {
  position: absolute;
  top: 44px;
  left: 15px;
  padding: 5px;
}

.search-tips>span {
  margin-right: 5px;
  font-size: 10px;
  color: #999;
}

/* 联系方式 */
.yl-connections {
  padding-top: 10px;

}

.yl-connections>a.connect {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-left: 8px;
}

.yl-connections>a:hover>.hoverContent {
  display: block;
}

.hoverContent {
  position: absolute;
  display: none;
  width: 130px;
  left: -35px;
  top: 50px;
  padding: 10px 15px;
  border: 1px solid #eee;
  background-color: #fff;
  font-size: 12px;
  color: #666;
  text-align: center;
}

.hoverContent img {
  width: 100px;
  margin-bottom: 5px;
}

.hoverContent>p {
  font-size: 12px;
  text-align-last: left;
}

/* navBar */
.navBar {
  background-color: #ff6642;
  height: 40px;
}

.navBar>.heart {
  height: 40px;
}

.navBar li {
  position: relative;
  line-height: 40px;
  float: left;
  width: 10%;
  text-align: center;
}

.navBar li>a {
  display: block;
  height: 100%;
  line-height: 40px;
}

.navBar li>a.active {
  background-color: #E9512E;
}

.navBar li>a.first {

  border-left: none;
}

/* 模拟分割线 */
.fakeborder {
  position: absolute;
  left: 0;
  top: 14px;
  width: 1px;
  height: 12px;
  background-color: rgb(226, 145, 107);
}

/* main部分开始 */

.yl-main {
  padding-top: 10px;
  margin-bottom: 10px;
}

.main-left>section {
  margin-bottom: 10px;
}

.main-left .hotRefill>li.hotRefill-item,
.main-left .newRecommend>li.newRecommend-item {
  text-align: center;
  background-color: #fff;
  width: 25%;
  color: #ff6642;
  padding: 10px;
  line-height: 16px;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
}

li.hotRefill-item>.yl-button,
li.newRecommend-item>.yl-button {
  display: inline-block;
  text-align: center;
  background-color: #ff6642;
  width: 80%;
  padding: 2px 0;
  color: #fff;
}

.main-left h1 {
  font-weight: normal;
  color: #ff6642;
  height: 40px;
  line-height: 40px;
}

.main-left h1>i,
.main-right h1>i {
  margin-right: 5px;
  font-size: 14px;
}

.main-left h1>span,
.main-right h1>span {
  font-size: 14px;
}

.main-left .content,
.main-right .content {
  /* height: 300px; */
  border-top: 2px solid #F16134;
  background-color: #fff;
}

.main-left .content p>span.yuan {
  font-size: 10px;
}

.main-left .content p>span.dollar {
  font-size: 12px;
}


/* 右侧 */
.main-right.fr {
  float: right;
}

.main-right section {
  margin-bottom: 20px;
}

.main-right h1 {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: normal;
}

.howToPay .content img {
  margin-bottom: 10px;
}

.main-right img {
  padding-right: 8px;

}

.main-right h1>span {
  margin-right: 8px;
}

.main-right .content {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #F16134;

}

/* 右侧公告 */

.main-right .content>.news {
  color: #272727;
  line-height: 20px;
  font-size: 12px;
}

.latestBulletin span.active {
  color: #F16134
}

.news>i {
  margin-right: 8px;
}

/* 右侧购物流程 */
.shopping-process .content .step {
  position: relative;
  font-size: 20px;
  margin-left: 80px;
  padding-top: 30px;
  padding-bottom: 35px;
  color: #777;
  border-bottom: 1px solid #eee;
}

.shopping-process .content .step>img {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 26px;
  margin-top: 15px;
  text-align: center;
  border: 1px dotted #f36234;
  border-radius: 50%;
  background: #fff;
}

/* 底部广告部分 */
.yl-adv {
  background-color: #fff;
  padding: 20px 0;
}

.adv-item {
  width: 16.66%;
  text-align: center;
  line-height: 20px;
}

.adv-item>h5 {
  font-size: 14px;
}

/* footer */
.yl-footer {
  background-color: #313131;
  padding: 30px 0;
}

.footer-item {
  width: 33.33%;
  background-color: #313131;
}

.footer-item>dl {
  padding: 0px 0px 20px 10px;
  border-right: 1px solid #464646;
}

.footer-item dt {
  line-height: 20px;
  margin-bottom: 20px;
}

.footer-item dd {
  padding-left: 54px;
  margin-bottom: 20px;
}

.footer-item dd>a {
  width: 50%;
  display: inline-block;
  font-size: 10px;
  color: #BEBEBE;
}

.footer-item img {
  margin-right: 10px;
  float: left;
}

.footer-item span {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-item i {
  color: #4D4D4D;
}

/* 友情链接部分 */
.yl-links {
  background-color: #272727;
  height: 150px;
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #BBBBBB;
}

.friendlyLinks {
  height: 40px;
  line-height: 40px;
}

.linkLogos {
  margin-bottom: 20px;

}

.yl-links>.friendlyLinks>a {
  margin-right: 3px;
  color: #BBBBBB;
}

.linkLogos>img {
  margin-right: 10px;
}

.introduce {
  font-size: 12px;
}