/* 退出按钮呀 */
.exitBtn>a {
    font-size: 10px;
    color: #666;
}

.personalCenter .main-left {
    min-width: 200px;
    height: 900px;
}

.personalCenter-menu {
    height: 100%;

}

.personalCenter-menu-item {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    height: 50px;
    text-align: left;
    padding-left: 15px;
    line-height: 50px;
}

.personalCenter-menu-item>.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.personalCenter-menu-item>.icon.user {
    background-image: url('../img/personalCenter-user.png');
    background-size: 18px 18px;
}

.personalCenter-menu-item>.icon.deals {
    background-image: url('../img/personalCenter-deals.png');
    background-size: 18px 18px;
}

.personalCenter-menu-item>.icon.yue {
    background-image: url('../img/personalCenter-yue.png');
    background-size: 18px 18px;
}


.personalCenter-menu-item.active {
    background-color: #E9512E;
}

.personalCenter-menu-item.active>.icon.user {
    background-image: url('../img/personalCenter-user-active.png');

}

.personalCenter-menu-item.active>.icon.deals {
    background-image: url('../img/personalCenter-deals-active.png');

}

.personalCenter-menu-item.active>.icon.yue {
    background-image: url('../img/personalCenter-yue-active.png');

}

.personalCenter-menu-item.active>span {
    color: #fff;
}