<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main-left col-lg-8 fl">
        <section class="hotRefill">
            <div class="title">
                <h1>
                    <i class="fa fa-fire"></i>
                    <span>热门充值</span>
                </h1>
            </div>
            <div class="content">
                <ul class="hotRefill flex-hw flex-h">
                    <li class="hotRefill-item   flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span>
                            <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="hotRefill-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="hotRefill-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="hotRefill-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="hotRefill-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="hotRefill-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="hotRefill-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span>
                            <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="hotRefill-item  flexv">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                </ul>
            </div>
        </section>
        <section class="newRecommend">
            <h1>
                <i class="fa fa-star-o"></i>
                <span>新品推荐</span>
            </h1>
            <div class="content">
                <ul class="newRecommend flex-hw flex-h">
                    <li class="newRecommend-item   flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span>
                            <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="newRecommend-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="newRecommend-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="newRecommend-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="newRecommend-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="newRecommend-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="newRecommend-item  flex-vc">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span>
                            <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                    <li class="newRecommend-item  flexv">
                        <img src="../img/appStore-pay.png" alt="">
                        <h5>苹果账号appStore</h5>
                        <p><span class="yuan">50元</span> <span class="dollar">美元8.9</span></p>
                        <button class="yl-button">购买</button>
                    </li>
                </ul>
            </div>

        </section>
    </div>
</body>

</html>